.todo-item {
  display: flex;
}

.todo-item p {
  color: grey;
}

.todo-item-edit-btn {
  margin-right: 10px;
}

.todo-item-text {
  text-align: left;
  margin-left: 20px;
}

.todo-item-info {
  margin-top: 15px;
}

.line-through {
  text-decoration: line-through;
}
