.todo-item {
  display: flex;
}

.todo-item p {
  color: grey;
}

.todo-item-text {
  margin-left: 5px;
  max-width: 180px;
  word-wrap: break-word;
}

.todo-item-text > p {
  word-wrap: break-word;
}

.todo-item-info {
  margin-top: 15px;
}

.line-through {
  text-decoration: line-through;
  order: 1;
}
@media only screen and (min-width: 600px) {
  .todo-item-text {
    max-width: 350px;
    word-wrap: break-word;
  }
}

@media only screen and (min-width: 801px) {
  .todo-item-text {
    max-width: 400px;
    word-wrap: break-word;
  }
}
